<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <!-- VALID: {{ form.valid }} <br> -->
        <!-- VALUES: {{ form.value | json }} <br> -->
        <!-- <pre>{{ form | json }}</pre> -->

        <form novalidate #form="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Endereço" errorMessage="Campo obrigatório e com 5 caracteres">
                <input ngModel required type="text" minlength="5" name="address" autocomplete="off"
                  class="form-control" placeholder="Endereço"> <!-- #iptAddress="ngModel" -->
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Número" errorMessage="Obrigatório e somente números">
                <input ngModel required type="text" name="number" autocomplete="off" placeholder="Número"
                  class="form-control" pattern="^[0-9]*$"> <!-- #iptNumber="ngModel" -->
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Compemento">
                <input ngModel type="text" name="optionalAddress" class="form-control"
                  placeholder="Complemento"> <!-- #iptComplenet="ngModel" -->
              </mt-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-items
              [items]="cartItems()"
              (remove)="remove($event)"
              (decreaseQty)="decreaseQty($event)"
              (increaseQty)="increaseQty($event)">
            </mt-order-items>
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>
                </div>

            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(form.value)"
              class="btn btn-success pull-right"
              [disabled]="form.invalid || !cartItems().length">
              <i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

  </section>
</section>